# Confd Generated

# What servers should the DHCP relay forward requests to?
SERVERS="{{ range ls "/service/dhcpd" }}{{ $node := printf "/nodes/%s" . | getv | json }}{{ if ne $node.ip "" }}{{ $node.ip }} {{ end }}{{ end }}"

# On what interfaces should the DHCP relay (dhrelay) serve DHCP requests?
INTERFACES=""

# Additional options that are passed to the DHCP relay daemon?
OPTIONS="-4 -d -q"
