[Unit]
Description=Kappa Etcd Ansible Trigger
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/sbin/kappa -c /etc/kappa/config.json
StandardOutput=journal
StandardError=journal
RestartSec=20s
Restart=always

[Install]
WantedBy=multi-user.target
