*.iso
.*
!.empty
!.gitignore
!.travis.yml
!/skeleton/root/.bash_history
!/skeleton/root/.bash_logout
!/skeleton/root/.bash_profile
/.buildmistify/
/.vagrant/
/build/
/downloads/
/go/
/toolchain/

# Exclude intellij project files
*.iml
