BR2_PACKAGE_PERL_FORKS=y
BR2_PACKAGE_SDK_AUTOCONF=y
BR2_PACKAGE_SDK_AUTOMAKE=y
BR2_PACKAGE_SDK_BISON=y
BR2_PACKAGE_SDK_FLEX=y
BR2_PACKAGE_SDK_M4=y
BR2_PACKAGE_SDK_GCC=y
BR2_PACKAGE_SDK_CCACHE=y
BR2_PACKAGE_SDK_TEXINFO=y
BR2_PACKAGE_SDK_OVERRIDES=y
BR2_PACKAGE_LXC=y
BR2_PACKAGE_GETENT=y
BR2_PACKAGE_FILE=y
# BR2_PACKAGE_NTP_NTPTRACE is not set
# BR2_PACKAGE_NTP_NTP_WAIT is not set
BR2_PACKAGE_BC=y
BR2_PACKAGE_NCURSES_TARGET_PANEL=y
BR2_PACKAGE_NCURSES_TARGET_FORM=y
BR2_PACKAGE_NCURSES_TARGET_MENU=y
BR2_PACKAGE_LIBEDIT=y
BR2_PACKAGE_APR=y
BR2_PACKAGE_APR_UTIL=y
BR2_PACKAGE_NEON=y
# BR2_PACKAGE_NEON_ZLIB is not set
# BR2_PACKAGE_NEON_SSL is not set
BR2_PACKAGE_NEON_XML=y
BR2_PACKAGE_NEON_EXPAT=y
# BR2_PACKAGE_NEON_LIBXML2 is not set
BR2_PACKAGE_LIBARCHIVE=y
# BR2_PACKAGE_LIBARCHIVE_BSDTAR is not set
# BR2_PACKAGE_LIBARCHIVE_BSDCPIO is not set
BR2_PACKAGE_PERL=y
BR2_PACKAGE_PERL_MODULES=""
# BR2_PACKAGE_PERL_CRYPT_OPENSSL_RANDOM is not set
# BR2_PACKAGE_PERL_CRYPT_OPENSSL_RSA is not set
# BR2_PACKAGE_PERL_DATETIME_TINY is not set
# BR2_PACKAGE_PERL_DB_FILE is not set
# BR2_PACKAGE_PERL_DIGEST_HMAC is not set
# BR2_PACKAGE_PERL_DIGEST_SHA1 is not set
# BR2_PACKAGE_PERL_ENCODE_DETECT is not set
# BR2_PACKAGE_PERL_ENCODE_LOCALE is not set
# BR2_PACKAGE_PERL_FILE_LISTING is not set
# BR2_PACKAGE_PERL_FILE_UTIL is not set
# BR2_PACKAGE_PERL_GD is not set
# BR2_PACKAGE_PERL_GDGRAPH is not set
# BR2_PACKAGE_PERL_GDTEXTUTIL is not set
# BR2_PACKAGE_PERL_HTML_PARSER is not set
# BR2_PACKAGE_PERL_HTML_TAGSET is not set
# BR2_PACKAGE_PERL_HTTP_COOKIES is not set
# BR2_PACKAGE_PERL_HTTP_DAEMON is not set
# BR2_PACKAGE_PERL_HTTP_DATE is not set
# BR2_PACKAGE_PERL_HTTP_MESSAGE is not set
# BR2_PACKAGE_PERL_HTTP_NEGOTIATE is not set
# BR2_PACKAGE_PERL_IO_HTML is not set
# BR2_PACKAGE_PERL_IO_SOCKET_SSL is not set
# BR2_PACKAGE_PERL_JSON_TINY is not set
# BR2_PACKAGE_PERL_LIBWWW_PERL is not set
# BR2_PACKAGE_PERL_LWP_MEDIATYPES is not set
# BR2_PACKAGE_PERL_MAIL_DKIM is not set
# BR2_PACKAGE_PERL_MAILTOOLS is not set
# BR2_PACKAGE_PERL_MIME_BASE64 is not set
# BR2_PACKAGE_PERL_MOJOLICIOUS is not set
# BR2_PACKAGE_PERL_NET_DNS is not set
# BR2_PACKAGE_PERL_NET_HTTP is not set
# BR2_PACKAGE_PERL_NET_SSLEAY is not set
# BR2_PACKAGE_PERL_NETADDR_IP is not set
# BR2_PACKAGE_PERL_PATH_TINY is not set
# BR2_PACKAGE_PERL_TIME_HIRES is not set
# BR2_PACKAGE_PERL_TIMEDATE is not set
# BR2_PACKAGE_PERL_TRY_TINY is not set
# BR2_PACKAGE_PERL_URI is not set
# BR2_PACKAGE_PERL_WWW_ROBOTRULES is not set
# BR2_PACKAGE_PERL_XML_LIBXML is not set
# BR2_PACKAGE_PERL_XML_NAMESPACESUPPORT is not set
# BR2_PACKAGE_PERL_XML_SAX is not set
# BR2_PACKAGE_PERL_XML_SAX_BASE is not set
BR2_PACKAGE_PYTHON_DOCUTILS=y
BR2_PACKAGE_CPIO=y
BR2_PACKAGE_MERCURIAL=y
BR2_PACKAGE_SUBVERSION=y
BR2_PACKAGE_PKGCONF=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_MAKE=y
BR2_PACKAGE_GIT=y
BR2_PACKAGE_GPERF=y
BR2_PACKAGE_CMAKE=y
BR2_PACKAGE_CMAKE_CTEST=y
BR2_PACKAGE_BINUTILS=y
BR2_PACKAGE_BINUTILS_TARGET=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL)/configs/mistify-busybox-sdk.config"
BR2_ROOTFS_POST_SCRIPT_ARGS="SDK"
BR2_TARGET_GENERIC_ISSUE="Welcome to Mistify-OS -- SDK"
