[Unit]
Description=Configure Mistify OVS Bridge
After=openvswitch.service
Wants=openvswitch.service

[Service]
Type=oneshot
EnvironmentFile=/tmp/.ifstate
ExecStart=/usr/bin/ovs-vsctl init
ExecStart=/usr/bin/ovs-vsctl --may-exist add-br mistify0 -- set bridge mistify0 other-config:hwaddr=${MACAddress}
ExecStart=/bin/udevadm trigger --subsystem-match=net
ExecStart=/bin/systemctl restart systemd-networkd

[Install]
WantedBy=multi-user.target
