[Unit]
Description=Mistify Core Agent
After=network.target mistify-agent-libvirt.service mistify-agent-image.service
Wants=mistify-agent-libvirt.service mistify-agent-image.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/mistify-agent
ExecStart=/opt/mistify/sbin/mistify-agent $OPTIONS
LimitNOFILE=32768
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target
