[Unit]
Description=Announce enfield
BindsTo=enfield.service
After=enfield.service
Wants=etcd.service

[Service]
ExecStart=/usr/sbin/queensland announce ipxe --name={{machine_id}} --port=8888
User=nobody
RestartSec=30s
Restart=always

