[Unit]
Description=Lochness Guest Management
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/sbin/waheela
StandardOutput=journal
StandardError=journal
RestartSec=20s
Restart=always

[Install]
WantedBy=multi-user.target
