[template]
src = "isc-dhcp-relay.tmpl"
dest = "/etc/sysconfig/isc-dhcp-relay"
uid = 0
mode = "0644"
prefix = "{{ lochness_etcd_prefix }}"
keys = [
  "/service/",
  "/nodes/",
]
reload_cmd = "systemctl restart dhcrelay"
