[Unit]
Description=ACPI Event Daemon
After=syslog.target
After=systemd-udev-settle.service

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/acpid
ExecStart=/usr/sbin/acpid $OPTIONS

[Install]
WantedBy=multi-user.target
