[Unit]
Description=Mistify Docker Sub-agent
After=network.target docker.service


[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/mistify-agent-docker
ExecStart=/opt/mistify/sbin/mistify-agent-docker $OPTIONS
LimitNOFILE=32768
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target
