[Unit]
Description=Mistify Libvirt Sub-agent
After=network.target libvirtd.service


[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/mistify-agent-libvirt
ExecStart=/opt/mistify/sbin/mistify-agent-libvirt $OPTIONS
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
