[Unit]
Description=virtual tunnel daemon
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/vtund -s

[Install]
WantedBy=multi-user.target
